@using NurseCourse.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; // Utiliza este layout si tienes uno, o define null para no usar ningún layout
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        body {
            background-color: #F5F5F5;
            background-size: cover;
            background-blend-mode: darken;
        }
        .animation:hover {
          transform: translateY(-3px);
          border-bottom: 3px solid ;
          background-color: #dbdbdb;
          transition: transform 0.2s;
        }
        .titlenurse {
            background-color: #D9D9D9;
            display: flex;
            padding: 10px;
            padding-left: 15px;
            width: 100%;
            flex-direction: row;
            align-items: center;
        }
        form {
            background-color: #F5F5F5;
            padding: 20px;
            width: 500px;
        }
        .imgsection {
            display: flex;
            justify-content: flex-end;
            margin-left: auto; 
        }
        .subtitle {
            margin: 1%;
            padding: 1%;
            background-color: black;
            color: white;
            width: 400px;
            align-items: center;
            justify-items: center;
        }
        .container {
            flex-direction: column;
            display: flex;
        }
        .horizontal{
            margin: 1%;
            display: flex;
            flex-direction: row;
        }
        h5{
            margin: 1%;
        }
    </style>
</head>
<body>
<div class="titlenurse">
    <h1 class="">Detalle del curso</h1>
    <div class="imgsection"><img src="https://cdn.icon-icons.com/icons2/3005/PNG/512/modules_apps_icon_188198.png" alt="Curso" style="width: 100px; height: 100px;"></div>
    
</div>
<div class="horizontal">
    <div class="subtitle">Diagnostico: @ViewData["Link1"]</div>
<div class="subtitle">Examen final: @ViewData["Link2"]</div>
</div>

<h5>Tabla de modulos</h5>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @if(Model.Item2 == null)
    {
        <tr>
            <td colspan="4">No hay usuarios registrados</td>
        </tr>
    }else{
        @foreach (var modulo in Model.Item2)
        {
            <tr class="animation">
                <td>@modulo.usuarioId</td>
                <td>@modulo.nombre</td>
                <td>@modulo.correoElectronico</td>
                <td><a href="@Url.Action("ListaModulos", "Nurse", new { id = modulo.usuarioId })"><button type="button" class="btn btn-primary">Ver modulos</button></a></td>
            </tr>
        }
    }
    
    </tbody>
</table>
<h5>Tabla de modulos</h5>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @if(Model.Item1 == null)
    {
        <tr>
            <td colspan="4">No hay cursos registrados</td>
        </tr>
    }else{
        @foreach (var modulo in Model.Item1)
        {
            <tr class="animation">
                <td>@modulo.moduloID</td>
                <td>@modulo.nombre</td>
                <td>@modulo.descripcion</td>
                <td><a href="@Url.Action("ListaModulos", "Nurse", new { id = modulo.moduloID })"><button type="button" class="btn btn-primary">Ver modulos</button></a></td>
            </tr>
        }
    }
    
    </tbody>
</table>
</body>
</html>